
.red {
  background-color: rgba(255, 50, 93, 0.4);
}
.green {
  background-color: rgba(50, 255, 112, 0.4);
}
.blue {
  background-color: rgba(50, 121, 255, 0.4);
}
.yellow {
  background-color: rgba(255, 221, 50, 0.4);
}