.inputCont{
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    width: 100%;
}
.newImput{
    all: unset;
    height: 29px;
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    padding: 1px 4px;
    display: flex;
}
.newImput:hover{
    border-color: #b7d1bd;
}
.newImput:focus{
    border-color: #b7d1bd;
}
.newText{
    all: unset;
    height: 60px;
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    padding: 1px 4px;
}
.newText:hover{
    border-color: #b7d1bd;
}
.newText:focus{
    border-color: #b7d1bd;
}
.butCont{
    width: 100%;
    display: flex;
    justify-content: end;
}
.header{
    margin-bottom: 15px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}
.formu{
    width: 100%;
    height: 480px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px;
}

/* Estilizar la barra de desplazamiento */
.formu::-webkit-scrollbar {
    width: 3px; /* Ancho de la barra vertical */
    height: 8px; /* Altura de la barra horizontal */
}

/* Fondo de la barra de desplazamiento */
.formu::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color de fondo */
    border-radius: 10px;
}

/* Color del "dedo" (thumb) del scroll */
.formu::-webkit-scrollbar-thumb {
    background: #888; /* Color del thumb */
    border-radius: 10px;
}

/* Color del thumb al pasar el mouse por encima */
.formu::-webkit-scrollbar-thumb:hover {
    background: #555;
}